body{
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #1e293b;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

input{
    width: 90%;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

button{
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #0ea5e9;
    transform: scale(1.05);
}

#result{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #38bdf8;
}